<!DOCTYPE html>
<html>
<head>
  <title>Byheart</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= render "layouts/blueprint" %>
  <%= stylesheet_link_tag :all %>
</head>
<body>
    <div class="container sshowgrid">
        <%= yield %>
    </div>
</body>
</html>
