<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
    <div class="container sshowgrid">
        <%= render "layouts/user-info" %>
        <%= render "layouts/logo" %>
        <%= render "layouts/new-word" %>
        <%= render "layouts/tabs" %>
        <%= yield %>
    </div>
</body>
</html>
