<!DOCTYPE html>
<html>
<%= render "layouts/head" %>
<body>
    <div class="container sshowgrid">
        <%= render "layouts/user-info" %>
        <div id="logo">B<span class="green">Y</span> heart</div>
        <%= render "layouts/new-word" %>
        <%= render "layouts/tabs" %>
        <%= yield %>
    </div>
</body>
</html>
